<h1> Owner's Index </h1>

<%= link_to 'Add New Owner', new_owner_path %>
<table>
  <thead>
    <tr>
      <th><bold>First Name</bold></th>
      <th><bold>Last Name</bold></th>
      <th><bold>Email</bold></th>
      <th><bold>Company Name</bold></th>
      <th><bold>Buildings</bold></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.first_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.company_name %></td>
        <td><% owner.buildings.each do |building| %>
              <ul>
                <li><%= building.street_address %></li>
              </ul>
            <% end %>
            </td>
        <td><%= link_to "Delete Owner", owner, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


